 .active-menu-item {
   background-color: #f8f9fa !important;
   color: var(--cl--primary) !important;
   padding-left: 15px !important;
   border-radius: 8px !important;
 }

 .active-menu-item2 {
   background-color: #f8f9fa !important;
   color: var(--cl--primary) !important;
   border-radius: 8px !important;
 }

 .itsn-header-nav li:hover {
   background-color: #f8f9fa !important;
   transition-duration: 0.3s !important;
   border-radius: 8px !important;
 }

 .itsn-header-nav li a:hover {
   color: var(--cl--primary) !important;
   transition-duration: 0.3s !important;
   border-radius: 8px !important;
 }