 .active-menu-item {
   background-color: #f8f9fa !important;
   color: var(--cl--primary) !important;
   padding-left: 15px !important;
   border-radius: 8px !important;
 }

 .active-menu-item2 {
   background-color: #f8f9fa !important;
   color: var(--cl--primary) !important;
   border-radius: 8px !important;
 }

 .itsn-header-nav li:hover {
   background-color: #f8f9fa !important;
   transition-duration: 0.3s !important;
   border-radius: 8px !important;
 }

 .itsn-header-nav li a:hover {
   color: var(--cl--primary) !important;
   transition-duration: 0.3s !important;
   border-radius: 8px !important;
 }


 .select2-selection__placeholder {
   display: flex !important;
   justify-content: start !important;
   align-items: center !important;
 }

 .select2-container--default .select2-selection--single {
   height: 38px !important;
   border: var(--bs-border-width) solid var(--bs-border-color) !important;
   border-radius: var(--bs-border-radius) !important;
 }

 .select2-container--default .select2-selection--single .select2-selection__arrow {
   height: 35px !important;
 }

 .select2-selection__rendered,
 .select2-selection__clear {
   margin-top: 4px;
 }

 .custom-form::placeholder {
   font-size: 16px;
   font-weight: 400;
   color: rgb(153, 153, 153);
 }

 .wp_google_login {
   margin: 24px auto 0 !important;
 }

 /* Social Media */
 .fb-color-code {
   color: #1877F2 !important;
 }

 .x-color-code,
 .tiktok-color-code {
   color: #000000 !important;
 }

 .insta-color-code {
   color: #DC3545 !important;
 }

 .linkedin-color-code {
   color: #0077B5 !important;
 }

 .yt-color-code {
   color: #FF0000 !important;
 }